body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.prep-ul {
  list-style-type: none;
}
.prep-focus {
  background-color: yellow;
}
.prep-recommended {
  text-decoration: underline;
}
.prep-white {
  color: red;
}
.prep-black {
  color: blue;
}
#content, html, body {
    height: 98%;
}
#left {
    float: left;
    width: 50%;
    height: 100%;
}
#right {
    float: left;
    width: 50%;
    height: 100%;
    overflow: scroll;
}
